In [1]:
import pandas as pd
import numpy as np

### Format 1: gdp, annual-work-hours

In [2]:
df = pd.read_csv('../data/economy/UNdata_GDP.csv')
df2 = pd.read_csv('../data/economy/annual-work-hours.csv')
df2
#df

,COUNTRY,Country,EMPSTAT,Employment status,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,TE,Total employment,A,Annual,2000,2000,HOUR,Hours,0,Units,NaN,NaN,1831.0,NaN,NaN
1,AUS,Australia,TE,Total employment,A,Annual,2001,2001,HOUR,Hours,0,Units,NaN,NaN,1814.0,NaN,NaN
2,AUS,Australia,TE,Total employment,A,Annual,2002,2002,HOUR,Hours,0,Units,NaN,NaN,1794.0,NaN,NaN
3,AUS,Australia,TE,Total employment,A,Annual,2003,2003,HOUR,Hours,0,Units,NaN,NaN,1798.0,NaN,NaN
4,AUS,Australia,TE,Total employment,A,Annual,2004,2004,HOUR,Hours,0,Units,NaN,NaN,1801.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,ISR,Israel,DE,Dependent employment,A,Annual,2014,2014,HOUR,Hours,0,Units,NaN,NaN,1901.0,NaN,NaN
1469,ISR,Israel,DE,Dependent employment,A,Annual,2015,2015,HOUR,Hours,0,Units,NaN,NaN,1900.0,NaN,NaN
1470,ISR,Israel,DE,Dependent employment,A,Annual,2016,2016,HOUR,Hours,0,Units,NaN,NaN,1923.0,NaN,NaN
1471,ISR,Israel,DE,Dependent employment,A,Annual,2017,2017,HOUR,Hours,0,Units,NaN,NaN,1924.0,NaN,NaN
1472,ISR,Israel,DE,Dependent employment,A,Annual,2018,2018,HOUR,Hours,0,Units,NaN,NaN,1919.0,NaN,NaN

### Cleaned Data (gdp)
index: Country Names (str)

columns: year of data (int)

In [3]:
# read csv as DataFrame data structure
df = pd.read_csv('../data/economy/UNdata_GDP.csv')

# countries: an 1D np array of all the countries (str)
countries = df['Country or Area'].drop_duplicates().values

# years: an 1D np array of all the years (int)
years = np.flip(df['Year'].drop_duplicates().values)

# GDP: an 1D np array of GDP values (int) of each countries each year
GDP = df['Value'].values

# n_countries, n_years are the # of countries and years
n_co = countries.shape[0]
n_yr = years.shape[0]

# create a DataFrame with all values as nan
dummy = np.zeros([n_co, n_yr])
dummy = np.nan
gdp_df = pd.DataFrame(dummy, index = countries, columns=years)

# assigning the correct GDP values to the DF
for i in range(0, GDP.shape[0]):
    i_year = df['Year'].values[i]
    i_country = df['Country or Area'].values[i]
    gdp_df[i_year][i_country] = GDP[i]
    
#print(newdf.index)

gdp_df.to_csv('../data/economy/cleaned_data/cleaned_GDP.csv', index = True)

#gdp_df

#### Clean annual work hours

In [4]:
# read csv as DataFrame data structure
df = pd.read_csv('../data/economy/annual-work-hours.csv')

# countries: an 1D np array of all the countries (str)
countries = df['Country'].drop_duplicates().values

# years: an 1D np array of all the years (int)
years = (df['Time'].drop_duplicates().values)

# GDP: an 1D np array of GDP values (int) of each countries each year
GDP = df['Value'].values

# n_countries, n_years are the # of countries and years
n_co = countries.shape[0]
n_yr = years.shape[0]

# create a DataFrame with all values as nan
dummy = np.zeros([n_co, n_yr])
dummy = np.nan
workhrs_df = pd.DataFrame(dummy, index = countries, columns=years)

# assigning the correct GDP values to the DF
for i in range(0, GDP.shape[0]):
    i_year = df['Time'].values[i]
    i_country = df['Country'].values[i]
    workhrs_df[i_year][i_country] = GDP[i]
    
workhrs_df.to_csv('../data/economy/cleaned_data/cleaned_annual_work_hrs.csv', index = True)
workhrs_df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Australia,1807.0,1788.0,1772.0,1774.0,1787.0,1788.0,1785.0,1781.0,1739.0,1772.0,1748.0,1770.0,1756.0,1759.0,1756.0,1730.0,1742.0,1731.0,1731.0,1720.0
Austria,1675.0,1663.0,1661.0,1652.0,1655.0,1632.0,1617.0,1606.0,1599.0,1558.0,1552.0,1557.0,1535.0,1520.0,1510.0,1495.0,1507.0,1498.0,1502.0,1501.0
Belgium,1589.0,1581.0,1594.0,1598.0,1588.0,1578.0,1592.0,1594.0,1582.0,1563.0,1574.0,1590.0,1587.0,1586.0,1582.0,1575.0,1574.0,1578.0,1583.0,1440.0
Canada,1787.0,1774.0,1755.0,1745.0,1755.0,1745.0,1744.0,1744.0,1741.0,1712.0,1715.0,1713.0,1722.0,1716.0,1710.0,1712.0,1706.0,1695.0,1708.0,1670.0
Czech Republic,1896.0,1818.0,1817.0,1806.0,1817.0,1817.0,1799.0,1784.0,1790.0,1779.0,1800.0,1806.0,1776.0,1763.0,1777.0,1756.0,1779.0,1784.0,1792.0,1788.0
Denmark,1466.0,1469.0,1463.0,1458.0,1458.0,1451.0,1456.0,1433.0,1430.0,1417.0,1422.0,1437.0,1423.0,1426.0,1414.0,1407.0,1412.0,1405.0,1382.0,1380.0
Finland,1650.0,1636.0,1628.0,1623.0,1624.0,1613.0,1608.0,1605.0,1601.0,1580.0,1585.0,1578.0,1568.0,1560.0,1558.0,1555.0,1555.0,1549.0,1546.0,1540.0
France,1558.0,1538.0,1504.0,1507.0,1531.0,1532.0,1515.0,1537.0,1543.0,1531.0,1540.0,1546.0,1541.0,1526.0,1518.0,1519.0,1522.0,1505.0,1495.0,1505.0
Germany,1465.9,1458.2,1448.9,1443.4,1442.6,1432.4,1453.2,1454.1,1447.3,1405.0,1425.7,1426.9,1408.0,1396.5,1400.4,1400.8,1394.8,1391.3,1389.9,1386.1
Greece,2017.0,2011.0,2003.0,2001.0,1993.0,2044.0,2034.0,2020.0,2015.0,1992.0,1933.0,1950.0,1967.0,1971.0,1934.0,1944.0,1943.0,1957.0,1956.0,1949.0
Hungary,1932.4,1897.8,1883.6,1856.3,1858.6,1834.1,1813.9,1787.8,1791.2,1758.2,1766.4,1753.7,1738.3,1733.6,1748.6,1745.9,1760.2,1747.4,1728.9,1725.2
Iceland,1696.0,1707.0,1672.0,1639.0,1645.0,1637.0,1627.0,1605.0,1607.0,1512.0,1503.0,1512.0,1498.0,1500.0,1488.0,1486.0,1474.0,1464.0,1449.0,1454.0
Ireland,1933.0,1924.0,1904.0,1887.0,1875.0,1883.0,1879.0,1865.0,1844.0,1812.0,1721.0,1737.0,1738.0,1743.0,1757.0,1771.0,1763.0,1775.0,1785.0,1772.0
Italy,1696.0,1685.0,1672.0,1653.0,1657.0,1646.0,1652.0,1652.0,1653.0,1616.0,1616.0,1615.0,1580.0,1567.0,1566.0,1570.0,1581.0,1581.0,1586.0,1583.0
Japan,1821.0,1809.0,1798.0,1799.0,1787.0,1775.0,1784.0,1785.0,1771.0,1714.0,1733.0,1728.0,1745.0,1734.0,1729.0,1719.0,1714.0,1709.0,1680.0,1644.0
Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2228.0,2174.0,2163.0,2136.0,2119.0,2106.0,2076.0,2083.0,2068.0,2018.0,1993.0,1967.0
Luxembourg,1602.0,1586.0,1581.0,1579.0,1578.0,1550.0,1552.0,1566.0,1567.0,1517.0,1517.0,1515.0,1508.0,1503.0,1506.0,1514.0,1513.0,1507.0,1506.0,1506.0
Mexico,2174.0,2146.0,2196.0,2143.0,2123.0,2105.0,2067.0,2045.0,2105.0,1973.0,2150.0,2121.0,2120.0,2136.0,2134.0,2140.0,2146.0,2148.0,2149.0,2137.0
Netherlands,1464.0,1454.0,1436.0,1428.0,1448.0,1434.0,1430.0,1429.0,1429.0,1420.0,1420.0,1420.0,1411.0,1415.0,1426.0,1426.0,1437.0,1435.0,1431.0,1434.0
New Zealand,1836.0,1825.0,1826.0,1823.0,1830.0,1815.0,1795.0,1774.0,1761.0,1740.0,1755.0,1746.0,1734.0,1756.0,1757.0,1751.0,1751.0,1752.0,1754.0,1779.0
Norway,1415.0,1387.0,1372.0,1358.0,1377.0,1381.0,1376.0,1383.0,1385.0,1369.0,1375.0,1380.0,1378.0,1368.0,1371.0,1374.0,1378.0,1364.0,1366.0,1368.0
Poland,1858.0,1860.0,1855.0,1861.0,1861.0,1856.0,1857.0,1855.0,1848.0,1834.0,1829.0,1824.0,1820.0,1816.0,1822.0,1829.0,1831.0,1812.0,1787.0,1806.0
Portugal,1770.0,1755.0,1749.0,1742.0,1748.0,1750.0,1739.0,1755.0,1743.0,1743.0,1746.0,1724.0,1708.0,1718.0,1725.0,1732.0,1737.0,1727.0,1722.0,1719.0
Slovak Republic,1816.0,1801.0,1754.0,1698.0,1742.0,1769.0,1774.0,1791.0,1793.0,1780.0,1805.0,1793.0,1789.0,1772.0,1760.0,1754.0,1740.0,1714.0,1704.0,1695.0
Spain,1752.8,1762.1,1763.6,1754.6,1739.9,1723.7,1713.7,1701.3,1710.1,1715.8,1705.8,1710.7,1696.7,1689.8,1690.6,1694.2,1701.5,1689.5,1695.5,1686.0
Sweden,1432.0,1413.0,1392.0,1376.0,1398.0,1393.0,1395.0,1407.0,1420.0,1407.0,1433.0,1434.0,1422.0,1416.0,1416.0,1418.0,1432.0,1419.0,1419.0,1406.0
Switzerland,1663.0,1634.0,1616.0,1631.0,1657.0,1650.0,1640.0,1638.0,1638.0,1650.8,1597.0,1598.0,1584.0,1565.0,1564.0,1580.0,1581.0,1564.0,1552.0,1556.9
Turkey,1937.0,1942.0,1943.0,1943.0,1918.0,1936.0,1944.0,1911.0,1900.0,1881.0,1877.0,1864.0,1855.0,1832.0,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,1566.0,1565.0,1549.0,1538.0,1525.0,1541.0,1536.0,1538.0,1518.0,1513.0,1502.0,1514.0,1528.0,1537.0,1543.0,1527.0,1541.0,1540.0,1535.0,1538.0
United States,1832.0,1811.0,1806.0,1796.0,1798.0,1794.0,1796.0,1795.0,1786.0,1760.0,1772.0,1778.0,1782.0,1780.0,1782.0,1783.0,1778.0,1778.0,1783.0,1779.0
OECD countries,1807.0,1793.0,1789.0,1781.0,1780.0,1776.0,1775.0,1772.0,1769.0,1734.0,1755.0,1754.0,1752.0,1748.0,1746.0,1745.0,1745.0,1739.0,1735.0,1726.0
Israel,2022.0,1986.0,2004.0,1985.0,1963.0,1958.0,1945.0,1955.0,1950.0,1955.0,1950.0,1944.0,1916.0,1909.0,1901.0,1900.0,1923.0,1924.0,1919.0,1898.1
Chile,2263.0,2242.0,2250.0,2235.0,2232.0,2157.0,2165.0,2128.0,2095.0,2074.0,2070.0,2047.0,2024.0,2015.0,1990.0,1988.0,1974.0,1954.0,1940.6,1914.4
Slovenia,1710.1,1695.9,1720.5,1723.8,1736.5,1696.6,1667.4,1654.9,1673.5,1679.0,1680.3,1663.4,1644.3,1662.2,1681.8,1687.3,1652.4,1621.5,1598.7,1592.9
Estonia,1884.0,1877.0,1879.0,1884.0,1892.0,1913.0,1906.0,1903.0,1874.0,1745.0,1785.0,1827.0,1796.0,1777.0,1771.0,1763.0,1767.0,1768.0,1724.0,1711.0
Russian Federation,1982.0,1980.0,1982.0,1993.0,1993.0,1989.0,1998.0,1999.0,1997.0,1974.0,1976.0,1979.0,1982.0,1980.0,1985.0,1978.0,1974.0,1979.0,1970.0,1965.0
Lithuania,1601.0,1588.0,1563.0,1549.0,1629.0,1629.0,1625.0,1651.0,1677.0,1615.0,1666.0,1644.0,1642.0,1628.0,1620.0,1643.0,1664.0,1627.0,1634.0,1635.0
Latvia,1760.0,1770.0,1726.0,1717.0,1673.0,1697.0,1698.0,1673.0,1783.0,1739.0,1723.0,1738.0,1723.0,1717.0,1726.0,1694.0,1694.0,1680.0,1692.0,1661.0
Costa Rica,2362.0,2329.0,2357.0,2350.0,2369.0,2352.0,2360.0,2387.0,2392.0,2348.0,2243.1,2285.3,2233.4,2140.6,2121.7,2148.2,2204.7,2178.9,2121.0,2059.6

### Format 2 (using format 1 from health)

In [5]:
data_economy = '../data/economy/'
data_list = ['Employment to population ratio (% ages 15 and older).csv',
            'Labour force participation rate (% ages 15 and older).csv',
            'Unemployment, total (% of labour force).csv'
            ]
# country count in each list
country = [19, 19, 19]

In [28]:
for c, d in zip(country, data_list):
    df = pd.read_csv(data_economy + d,skiprows=1)

    df.drop(columns=['HDI Rank (2018)'], inplace = True)
    df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

    # Keep only the country data
    df.drop(df.tail(c).index,inplace=True)
    df.replace('..', np.nan,inplace=True)

    df.set_index("Country", inplace = True)
    df.astype('float64').dtypes
    df = df.apply(pd.to_numeric, errors='ignore')
    
    # intepolate the data (missing data for some years)
    min_year = int(min(df.columns))
    max_year = int(max(df.columns))

    df = df.reindex(columns=map(str, range(min_year, max_year)))
    df = df.interpolate(method='linear', limit_direction='both', axis=1)
    df.to_csv('../data/economy/cleaned_data/'+ 'cleaned_' + d, index=True)